<!DOCTYPE html>
<html lang="fr">
 
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible", content="IE=edge,chrome=1" />
    <title><%= title %></title>

    <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/client.js"></script>
    <script type="text/javascript">

        
    </script>
</head>

<body>
    <h1><%= title %></h1>
    <p id="gameBoard">
        Game is loading...
    </p>
</body>