#gameBoard{
    float: left;
    height: 450px;
    width: 450px;
}

#gameBoard a{
    display: block;
    float: left;
    margin: 5px;
    height: 140px;
    width: 140px;
    background: #EEE;
}

#gameBoard.player1 a:hover{
    background: #EEE url(../img/players.png) scroll 0px 140px;
    cursor: pointer;
}

#gameBoard.player2 a:hover{
    background: #EEE url(../img/players.png) scroll 0px 0px;
    cursor: pointer;
}

#gameBoard a.player1, #gameBoard a.player1:hover{
    background: #FFF url(../img/players.png) scroll 0px 140px;;
    cursor: default;
}

#gameBoard a.player2, #gameBoard a.player2:hover{
    background: #FFF url(../img/players.png) scroll 0px 0px;;
    cursor: default;
}